@charset "UTF-8";


body {
    background-color: #84E1AD;
    
}



header{
    background-color:aquamarine;
    text-align: center; }
    
    .titulo2 {
        color: white;
        
    }




main {
    background-color: white;   
    width: 938px;
    margin: auto; 
}
.outro{ 
    color: #2e6346;
}
h2 {
    color: #2e6346;
}
p {

    text-align: justify;
}
img {
    margin: auto;
}
